.sidebar {
    flex: 1;
    background-color: rgb(240, 239, 239);
    height: calc(100vh - 50px);
    position: sticky;
    top: 50px;
}

.sidebarWrapper {
    padding: 20px;
    color: #555;
}

.sidebarMenu {
    margin-bottom: 10px;
}

.sidebarTitle {
    font-size: 18px;
    color: #999;
    margin-bottom: 10px;
}

.sidebarList {
    list-style: none;
    padding: 0px;
}

.sidebarListItem {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.3s;
    color: #555;
  }
  
  .sidebarListItem.active {
    background-color: #000000;
    color: white;
  }
  .sidebarListItem:hover {
    background-color: #000000;
    color: white;
  }
  
  
  .sidebarIcon {
    margin-right: 10px;
  }
  
